[submodule "submodules/MX_Alps_Hybrid"]
	path = submodules/MX_Alps_Hybrid
	url = git@github.com:ai03-2725/MX_Alps_Hybrid.git
[submodule "submodules/kbd"]
	path = submodules/kbd
	url = git@github.com:foostan/kbd.git
[submodule "submodules/Keebio-Parts.pretty"]
	path = submodules/Keebio-Parts.pretty
	url = git@github.com:keebio/Keebio-Parts.pretty.git
